<footer class="footer page-padding">
    <div class="footer-left">
        <a href="#" class="header__logo">AGB Trading</br>company</a>

        <div>
            <p>AGB TRADING COMPANY, 2023</p>
            <a href="#">Политика конфиденциальности</a>
        </div>
    </div>

    <div class="footer-right">
        <div class="footer-right__list">
            <ul>
                <li><a href="#">О компании</a></li>
                <li><a href="#">Контакты</a></li>
                <li><a href="#">каталог</a></li>
            </ul>

            <div class="footer-right__list-inner">
                <ul>
                    <li><a href="#">Растительные масла</a></li>
                    <li><a href="#">Бобовые</a></li>
                    <li><a href="#">Зерновые</a></li>
                    <li><a href="#">Масличные продукты</a></li>
                    <li><a href="#">Продукты переработки</a></li>
                </ul>

                <ul>
                    <li><a href="#">Корма</a></li>
                    <li><a href="#">Крупы</a></li>
                    <li><a href="#">Специи</a></li>
                    <li><a href="#">Лекарственные растения</a></li>
                    <li><a href="#">Прочие товары</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-right__contacts">
            <div class="footer-right__contacts-items">
                <a href="tel:88008000880">
                    <svg>
                        <use href="#phoneIco"></use>
                    </svg>
                    <p>8 800 8 000 880</p>
                </a>
    
                <a href="mailto:info@ggggg.ru">
                    <svg>
                        <use href="#mailIco"></use>
                    </svg>
                    <p>info@ggggg.ru</p>
                </a>
    
                <div>
                    <svg>
                        <use href="#pointIco"></use>
                    </svg>
                    <p>г. Москва, ул. Московская,  д. 3/2, оф. 333</p>
                </div>
    
                <p>Пн-Пт с 08:00 до 19:00</p>
            </div>

            <div class="footer-right__contacts-btns">
                <a href="#">
                    <svg>
                        <use href="#tgIco"></use>
                    </svg>
                </a>
                <a href="#">
                    <svg>
                        <use href="#whatsAppIco"></use>
                    </svg>
                </a>
                <a href="#">
                    <svg>
                        <use href="#vkIco"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>

    <div class="footer-right__bottom-mobile">
        <div class="footer-right__bottom-mobile-text">

        </div>

        <div class="footer-right__bottom-mobile-btns">

        </div>
    </div>

    <div id="feedback-modal" class="feedback-modal">
        <div class="feedback-modal-content">
            <span class="close">&times;</span>
            <h2>Обратная связь</h2>
            <p>Заполните форму, наши менеджеры свяжутся с вами и помогут решить ваш вопрос</p>
            <form action="#">
                <label>Ваш телефон</label>
                <input type="tel" name="phone" placeholder="+7">

                <label>E-mail</label>
                <input type="email" name="mail" placeholder="Ваша почта">

                <label>Чем вам помочь?</label>
                <textarea placeholder="Текст" name="comment"></textarea>

                <button type="submit" class="orange-btn">
                    отправить
                </button>
            </form>
        </div>
    </div>

    <div id="catalog-filter-modal" class="catalog-filter-modal">
        <div class="catalog-filter-modal-content">
            <span class="close">&times;</span>
            <div></div>
        </div>
    </div>
</footer>