<header class="header">
    <div class="header__content page-padding">
        <a href="#" class="header__logo"></a>
        <div class="header__menu">
            <ul class="header__menu-list">
                <li><a href="#">О компании</a></li>
                <li><a href="#">Каталог</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>

            <div class="header__language">
                <button>
                    <span>RU</span>
                    <i class="arrow"></i>
                </button>
                <ul class="header__language-dropdown">
                    <li>EN</li>
                    <li>EN</li>
                    <li>EN</li>
                    <li>EN</li>
                </ul>
            </div>

            <div class="header__search">
                <input type="text" placeholder="Найти">
                <button>
                    <svg>
                        <use href="#searchIco"></use>
                    </svg>
                </button>

            </div>

            <button class="header__form-button orange-btn">Написать</button>

            <button class="header__burger-button">
                <div></div>
                <div></div>
                <div></div>
            </button>
        </div>
    </div>

    <div id="header__burger-modal" class="header__burger-modal">
        <div class="header__burger-modal-content page-padding">
            <ul class="header__burger-modal-menu"></ul>
            <div class="header__burger-modal-search"></div>
            <button class="header__burger-modal-button orange-btn"></button>
        </div>
    </div>
</header>